.version.index /* version checker */
{
	color: #000012;
	background-color: #73BE73;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4351px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 4px;
	padding-bottom: 1px;
}

#u66
{
	z-index: 2;
	height: 1079px;
	border-color: #000000;
	position: fixed;
	top: -1px;
	background: #000000 url("../images/wallpaper%20blur%20saturation.jpg") no-repeat right top;
	background-size: cover;
}

#u66-bw
{
	z-index: 2;
}

#pamphletu2374
{
	z-index: 132;
	width: 0.01px;
	height: 1079px;
	position: fixed;
	top: -1px;
	right: 339px;
}

#u2377
{
	position: absolute;
	width: 359px;
	background-color: transparent;
}

#u2377popup
{
	z-index: 133;
}

#u2378
{
	z-index: 134;
	width: 339px;
	height: 946px;
	border-style: none;
	border-color: transparent;
	padding-right: 20px;
	padding-bottom: 121px;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/meni%20black%20wall.png") no-repeat left top;
}

#u2445
{
	z-index: 163;
	width: 270px;
	background-color: transparent;
	margin-left: 31px;
	position: relative;
}

#buttonu2406
{
	z-index: 135;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	position: relative;
}

#buttonu2406:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px;
}

#buttonu2406:active
{
	background-color: transparent;
	margin: 0px;
}

#u2407-4
{
	z-index: 136;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu2406:hover #u2407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu2406:active #u2407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu2406:hover #u2407-4 p,#buttonu2406:hover #u2407-4 span,#buttonu2406:active #u2407-4 p,#buttonu2406:active #u2407-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u2408
{
	z-index: 140;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu2406:hover #u2408
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu2406:active #u2408
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu2402
{
	z-index: 142;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	position: relative;
}

#buttonu2402:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px;
}

#buttonu2406.ButtonSelected,#buttonu2402:active
{
	background-color: transparent;
	margin: 0px;
}

#buttonu2402.ButtonSelected
{
	background-color: transparent;
	margin: 0px;
}

#u2405-4
{
	z-index: 143;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu2406.ButtonSelected #u2407-4,#buttonu2402:hover #u2405-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu2402:active #u2405-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu2402:hover #u2405-4 p,#buttonu2402:hover #u2405-4 span,#buttonu2402:active #u2405-4 p,#buttonu2402:active #u2405-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u2403
{
	z-index: 147;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu2406.ButtonSelected #u2408,#buttonu2402:hover #u2403
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu2402:active #u2403
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu2379
{
	z-index: 149;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu2379:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px 0px -1px;
}

#buttonu2379:active
{
	background-color: transparent;
	margin: 0px 0px -1px;
}

#buttonu2379.ButtonSelected
{
	background-color: transparent;
	margin: 0px 0px -1px;
}

#u2382-4
{
	z-index: 150;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu2402.ButtonSelected #u2405-4,#buttonu2379:hover #u2382-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu2379:active #u2382-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu2379:hover #u2382-4 p,#buttonu2379:hover #u2382-4 span,#buttonu2379:active #u2382-4 p,#buttonu2379:active #u2382-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u2380
{
	z-index: 154;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu2402.ButtonSelected #u2403,#buttonu2379:hover #u2380
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu2379:active #u2380
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu2397
{
	z-index: 156;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	margin-top: 1px;
	position: relative;
}

#buttonu2397:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 1px 0px 0px;
}

#buttonu2397:active
{
	background-color: transparent;
	margin: 1px 0px 0px;
}

#buttonu2397.ButtonSelected
{
	background-color: transparent;
	margin: 1px 0px 0px;
}

#u2398-4
{
	z-index: 157;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu2379.ButtonSelected #u2382-4,#buttonu2397:hover #u2398-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu2397:active #u2398-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu2397.ButtonSelected #u2398-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu2397:hover #u2398-4 p,#buttonu2397:hover #u2398-4 span,#buttonu2397:active #u2398-4 p,#buttonu2397:active #u2398-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#buttonu2406.ButtonSelected #u2407-4 p,#buttonu2406.ButtonSelected #u2407-4 span,#buttonu2402.ButtonSelected #u2405-4 p,#buttonu2402.ButtonSelected #u2405-4 span,#buttonu2379.ButtonSelected #u2382-4 p,#buttonu2379.ButtonSelected #u2382-4 span,#buttonu2397.ButtonSelected #u2398-4 p,#buttonu2397.ButtonSelected #u2398-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2407-2,#u2405-2,#u2382-2,#u2398-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2399
{
	z-index: 161;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu2379.ButtonSelected #u2380,#buttonu2397:hover #u2399
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu2397:active #u2399
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu2397.ButtonSelected #u2399
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#pu3783-9
{
	width: 0.01px;
	margin-top: 256px;
}

#u3783-9
{
	z-index: 165;
	width: 226px;
	min-height: 43px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u3783
{
	padding-left: 10px;
	color: #F9C854;
}

#u3783-3
{
	padding-left: 10px;
	color: #F9C854;
	font-weight: bold;
}

#u3783-5,#u3783-7
{
	padding-left: 10px;
	color: #C7C7C7;
}

#u3784
{
	z-index: 174;
	width: 338px;
	height: 61px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.13;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=13)";
	filter: alpha(opacity=13);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2415
{
	z-index: 175;
	width: 67px;
	padding-bottom: 1078px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 272px;
}

#u2416
{
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 14px 11px 890px 16px;
}

#u2416:hover
{
	background-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u2416:active
{
	background-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u2416.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px;
}

#u2417
{
	z-index: 177;
	width: 39px;
	background-color: transparent;
	position: relative;
}

#u2416:hover #u2417
{
	margin: 0px;
}

#u2416:active #u2417
{
	margin: 0px;
}

#u2416.PamphletThumbSelected #u2417
{
	margin: 0px;
}

#u2417_img
{
	margin-right: -1px;
}

#u2859-4
{
	z-index: 179;
	width: 27px;
	min-height: 118px;
	background-color: transparent;
	font-size: 25px;
	color: #F9D581;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	margin-left: 7px;
	margin-top: 22px;
	position: relative;
}

#u2416:hover #u2859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u2416:active #u2859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u2416.PamphletThumbSelected #u2859-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u2416.PamphletThumbSelected #u2859-4 p
{
	color: #F9D581;
	visibility: inherit;
	font-size: 25px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u2410
{
	position: absolute;
	width: 66px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 1024px;
	left: 272px;
}

#u2411
{
	z-index: 184;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#top
{
	margin-left: 521px;
	position: relative;
}

#pu2550
{
	width: 0.01px;
	margin-left: 307px;
	margin-top: 210px;
}

#u2550
{
	z-index: 36;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u2534
{
	z-index: 38;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u2540
{
	z-index: 40;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u2545
{
	z-index: 42;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#pu2531
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u2531
{
	z-index: 5;
	height: 170px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.25);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left center, right center, color-stop(32%, #FFFFFF),to(#FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	background: -o-linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	background: linear-gradient(to right,#FFFFFF 32%,#FFFFFF );
	-pie-background: linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	border-style: none;
	border-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	background-size: 100% auto;
}

#u2531-bw
{
	z-index: 5;
	height: 170px;
}

#pamphletu2064
{
	z-index: 111;
	width: 0.01px;
	height: 104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 65px;
}

#u2076
{
	z-index: 112;
	width: 58px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 477px;
}

#u2079
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u2079:hover
{
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2079:active
{
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2079.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2077
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 25px;
}

#u2077:hover
{
	border-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2077:active
{
	border-color: #000000;
	background-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2078
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 49px;
}

#u2078:hover
{
	border-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2078:active
{
	border-color: #000000;
	background-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2077.PamphletThumbSelected,#u2078.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2067
{
	position: absolute;
	width: 925px;
	background-color: transparent;
}

#u2067popup
{
	z-index: 116;
}

#u2068
{
	z-index: 117;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u2069-4
{
	z-index: 118;
	width: 802px;
	min-height: 44px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 114px;
}

#u2070
{
	z-index: 122;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u2071-4
{
	z-index: 123;
	width: 802px;
	min-height: 51px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 114px;
}

#u2072
{
	z-index: 127;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u2073-4
{
	z-index: 128;
	width: 573px;
	min-height: 46px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 228px;
}

#pu2584
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 587px;
}

#u2584
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	padding-bottom: 214px;
	background: #FFFFFF url("../images/_dsc0060.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2860-3
{
	z-index: 255;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 211px;
}

#poslovni
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 526px;
}

#u2584-bw
{
	z-index: 6;
	height: 337px;
}

#u2597
{
	z-index: 7;
	height: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u2597-bw
{
	z-index: 7;
	margin-bottom: -1px;
	margin-top: 495px;
	height: 605px;
}

#u2607-23
{
	z-index: 186;
	width: 793px;
	min-height: 202px;
	background-color: transparent;
	color: #F9C854;
	position: relative;
	margin-right: -10000px;
	margin-top: 501px;
	left: 196px;
}

#u2607-6
{
	font-size: 35px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2607-2
{
	font-size: 25px;
}

#u2607-4
{
	font-size: 25px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u2607-7
{
	font-size: 20px;
	text-align: left;
	line-height: 1.26;
}

#u2607-9
{
	font-size: 20px;
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2607-9  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.26;
}

#u2607-8
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u2607-11,#u2607-13,#u2607-15,#u2607-17
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	padding-left: 16px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u2607-18,#u2607-19,#u2607-20
{
	font-size: 25px;
	text-align: left;
	padding-left: 16px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u2607-21
{
	font-size: 45px;
}

#u2608-3
{
	z-index: 209;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 699px;
	left: 105px;
}

#u2873
{
	z-index: 262;
	width: 582px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 697px;
	left: 226px;
}

#pu2746
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u2746
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	padding-bottom: 551px;
	background: #FFFFFF url("../images/untitled_panorama1.jpg") no-repeat center center;
	background-size: cover;
}

#u2584_align_to_page,#u2746_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#stambeni
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 543px;
}

#u2746-bw
{
	z-index: 8;
	height: 18px;
}

#u2747
{
	z-index: 9;
	height: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u2747-bw
{
	z-index: 9;
	margin-bottom: -1px;
	margin-top: 504px;
	height: 605px;
}

#u2748-24
{
	z-index: 12;
	width: 942px;
	min-height: 232px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 512px;
	left: 204px;
}

#u2748-3
{
	font-size: 35px;
	color: #F9C854;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2407-2  span,#u2405-2  span,#u2382-2  span,#u2398-2  span,#u2607-6  span,#u2748-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u2607-3,#u2607-5,#u2748-2
{
	font-size: 25px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u2748-4,#u2748-5
{
	font-size: 20px;
	text-align: left;
	color: #F9C854;
}

#u2748-7
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	color: #F9C854;
}

#u2748-6
{
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u2748-9,#u2748-11,#u2748-13,#u2748-15
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u2748-16
{
	font-size: 25px;
	text-align: left;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u2748-17,#u2748-18,#u2748-19,#u2748-20,#u2748-21
{
	font-size: 25px;
	text-align: left;
	padding-left: 16px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u2748-22
{
	font-size: 45px;
	color: #F9C854;
}

#u2867
{
	z-index: 260;
	width: 582px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 720px;
	left: 221px;
}

#pu2063
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u2063
{
	z-index: 4;
	height: 1080px;
	border-color: #000000;
	background: #FFC700 url("../images/wall%20email.jpg") repeat-x center top;
}

#u2063-bw
{
	z-index: 4;
	height: 1080px;
}

#u2846
{
	z-index: 10;
	width: 326px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 549px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u2845-32
{
	z-index: 212;
	width: 172px;
	min-height: 329px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 59px;
}

#u2845-2
{
	color: #F9C854;
	font-weight: normal;
}

#u2407,#u2405,#u2382,#u2398,#u2607-10,#u2607-12,#u2607-14,#u2607-16,#u2845-3,#u2845-6,#u2845-8,#u2845-10,#u2845-11,#u2845-14,#u2845-16,#u2845-18,#u2845-19,#u2845-21,#u2845-22,#u2845-25,#u2845-27,#u2845-28
{
	color: #FFFFFF;
}

#u2845-5,#u2845-13,#u2845-24,#u2845-30
{
	color: #C7C7C7;
}

#u2852
{
	z-index: 11;
	width: 466px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 368px;
}

#lokacija
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 558px;
}

#u2025-6
{
	z-index: 47;
	width: 471px;
	min-height: 460px;
	background-color: transparent;
	text-indent: 30px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 434px;
}

#u2026
{
	margin-top: 12px;
	margin-bottom: -12px;
}

#widgetu2027
{
	z-index: 53;
	width: 0.01px;
	height: 397px;
}

#widgetu2037
{
	z-index: 54;
	width: 337px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu2037.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2038-4
{
	z-index: 55;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2039-4
{
	z-index: 59;
	width: 323px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu2037.non-empty-st #u2039-4
{
	background-color: #FFFFFF;
}

#widgetu2037:hover #u2039-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2037.focus-st #u2039-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2037.non-empty-st #u2039-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2037:hover #u2039-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2037.focus-st #u2039-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2028
{
	z-index: 63;
	width: 337px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#widgetu2028.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u2031-4
{
	z-index: 64;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2028.fld-err-st #u2031-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u2029-4
{
	z-index: 68;
	width: 323px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2028.non-empty-st #u2029-4
{
	background-color: #FFFFFF;
}

#widgetu2028:hover #u2029-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2028.focus-st #u2029-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2037.fld-err-st #u2039-4,#widgetu2028.fld-err-st #u2029-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2028.non-empty-st #u2029-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2028:hover #u2029-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2028.focus-st #u2029-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2037_input,#widgetu2037_prompt,#widgetu2028_input,#widgetu2028_prompt
{
	width: 323px;
	min-height: 14px;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u2042-4
{
	z-index: 72;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu2027.frm-sub-st #u2042-4 p,#widgetu2027.frm-sub-st #u2042-4 span
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2032-4
{
	z-index: 76;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu2027.frm-subm-err-st #u2032-4 p,#widgetu2027.frm-subm-err-st #u2032-4 span
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2043-4
{
	z-index: 80;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu2027.frm-sub-st #u2042-4,#widgetu2027.frm-subm-err-st #u2032-4,#widgetu2027.frm-subm-ok-st #u2043-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2027.frm-subm-ok-st #u2043-4 p,#widgetu2027.frm-subm-ok-st #u2043-4 span
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2041-17
{
	z-index: 84;
	min-height: 31px;
	width: 80px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	background: url("../images/u2041-17.png") no-repeat 0px 0px;
}

#u2041-17:hover
{
	background: url("../images/u2041-17-r.png") no-repeat 0px 0px;
}

#u2041-17:active
{
	background: url("../images/u2041-17-m.png") no-repeat 0px 0px;
}

#widgetu2027.frm-sub-st #u2041-17
{
	background: url("../images/u2041-17-fs.png") no-repeat 0px 0px;
}

#widgetu2033
{
	z-index: 101;
	width: 337px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
}

#widgetu2033.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 123px -10000px 0px 0px;
}

#u2036-4
{
	z-index: 102;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2037.fld-err-st #u2038-4,#widgetu2033.fld-err-st #u2036-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2037.fld-err-st #u2038-4 p,#widgetu2037.fld-err-st #u2038-4 span,#widgetu2028.fld-err-st #u2031-4 p,#widgetu2028.fld-err-st #u2031-4 span,#widgetu2033.fld-err-st #u2036-4 p,#widgetu2033.fld-err-st #u2036-4 span
{
	color: #D7244C;
}

#u2034-4
{
	z-index: 106;
	width: 323px;
	min-height: 198px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2033.non-empty-st #u2034-4
{
	background-color: #FFFFFF;
}

#widgetu2033:hover #u2034-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2033.focus-st #u2034-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2033.fld-err-st #u2034-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2033.non-empty-st #u2034-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2033:hover #u2034-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2033.focus-st #u2034-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2037.fld-err-st #u2039-4 *,#widgetu2028.fld-err-st #u2029-4 *,#widgetu2033.fld-err-st #u2034-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2033_input,#widgetu2033_prompt
{
	width: 323px;
	min-height: 198px;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu2037.focus-st #widgetu2037_prompt,#widgetu2028.focus-st #widgetu2028_prompt,#widgetu2033.focus-st #widgetu2033_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2037:hover #widgetu2037_input,#widgetu2037.focus-st #widgetu2037_input,#widgetu2037.fld-err-st #widgetu2037_input,#widgetu2037:hover #widgetu2037_prompt,#widgetu2037.fld-err-st #widgetu2037_prompt,#widgetu2028:hover #widgetu2028_input,#widgetu2028.focus-st #widgetu2028_input,#widgetu2028.fld-err-st #widgetu2028_input,#widgetu2028:hover #widgetu2028_prompt,#widgetu2028.fld-err-st #widgetu2028_prompt,#widgetu2033:hover #widgetu2033_input,#widgetu2033.focus-st #widgetu2033_input,#widgetu2033.fld-err-st #widgetu2033_input,#widgetu2033:hover #widgetu2033_prompt,#widgetu2033.fld-err-st #widgetu2033_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu2037.non-empty-st #widgetu2037_prompt,#widgetu2028.non-empty-st #widgetu2028_prompt,#widgetu2033.non-empty-st #widgetu2033_prompt
{
	visibility: hidden;
}

#u2847
{
	z-index: 244;
	width: 793px;
	border-style: none;
	border-color: transparent;
	background-color: #1E1E1E;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 614px;
	left: 41px;
}

#u2848-4
{
	z-index: 245;
	width: 168px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 69px;
}

#u2850-4
{
	z-index: 249;
	width: 316px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 242px;
}

#u2853
{
	z-index: 253;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: 99px;
}

#u2861
{
	z-index: 258;
	width: 793px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 658px;
	left: 41px;
}

body
{
	position: relative;
	min-width: 960px;
}

