.version.royalmenex_com_rumunski /* version checker */
{
	color: #0000E0;
	background-color: #70A8B9;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4351px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 4px;
	padding-bottom: 1px;
}

#u3383
{
	z-index: 2;
	height: 1079px;
	border-color: #000000;
	position: fixed;
	top: -1px;
	background: #000000 url("../images/wallpaper%20blur%20saturation.jpg") no-repeat right top;
	background-size: cover;
}

#u3383-bw
{
	z-index: 2;
}

#pamphletu3321
{
	z-index: 135;
	width: 0.01px;
	height: 1079px;
	padding-bottom: 3px;
	position: fixed;
	top: -1px;
	right: 339px;
}

#u3324
{
	position: absolute;
	width: 340px;
	background-color: transparent;
}

#u3324popup
{
	z-index: 136;
}

#u3325
{
	z-index: 137;
	width: 339px;
	height: 948px;
	border-style: none;
	border-color: transparent;
	padding-right: 1px;
	padding-bottom: 134px;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/meni%20black%20wall.png") no-repeat left top;
}

#u3334
{
	z-index: 166;
	width: 270px;
	background-color: transparent;
	margin-left: 31px;
	position: relative;
}

#buttonu3326
{
	z-index: 138;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	position: relative;
}

#buttonu3326:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px;
}

#buttonu3326:active
{
	background-color: transparent;
	margin: 0px;
}

#u3327-4
{
	z-index: 139;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3326:hover #u3327-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3326:active #u3327-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3326:hover #u3327-4 p,#buttonu3326:hover #u3327-4 span,#buttonu3326:active #u3327-4 p,#buttonu3326:active #u3327-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u3328
{
	z-index: 143;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3326:hover #u3328
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3326:active #u3328
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3340
{
	z-index: 145;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	position: relative;
}

#buttonu3340:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px;
}

#buttonu3326.ButtonSelected,#buttonu3340:active
{
	background-color: transparent;
	margin: 0px;
}

#buttonu3340.ButtonSelected
{
	background-color: transparent;
	margin: 0px;
}

#u3343-4
{
	z-index: 146;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3326.ButtonSelected #u3327-4,#buttonu3340:hover #u3343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3340:active #u3343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3340:hover #u3343-4 p,#buttonu3340:hover #u3343-4 span,#buttonu3340:active #u3343-4 p,#buttonu3340:active #u3343-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u3341
{
	z-index: 150;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3326.ButtonSelected #u3328,#buttonu3340:hover #u3341
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3340:active #u3341
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3336
{
	z-index: 152;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu3336:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px 0px -1px;
}

#buttonu3336:active
{
	background-color: transparent;
	margin: 0px 0px -1px;
}

#buttonu3336.ButtonSelected
{
	background-color: transparent;
	margin: 0px 0px -1px;
}

#u3339-4
{
	z-index: 153;
	width: 163px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 76px;
}

#buttonu3340.ButtonSelected #u3343-4,#buttonu3336:hover #u3339-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3336:active #u3339-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3336:hover #u3339-4 p,#buttonu3336:hover #u3339-4 span,#buttonu3336:active #u3339-4 p,#buttonu3336:active #u3339-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u3337
{
	z-index: 157;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3340.ButtonSelected #u3341,#buttonu3336:hover #u3337
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3336:active #u3337
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3330
{
	z-index: 159;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	margin-top: 1px;
	position: relative;
}

#buttonu3330:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 1px 0px 0px;
}

#buttonu3330:active
{
	background-color: transparent;
	margin: 1px 0px 0px;
}

#buttonu3330.ButtonSelected
{
	background-color: transparent;
	margin: 1px 0px 0px;
}

#u3331-4
{
	z-index: 160;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3336.ButtonSelected #u3339-4,#buttonu3330:hover #u3331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3330:active #u3331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3330.ButtonSelected #u3331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3330:hover #u3331-4 p,#buttonu3330:hover #u3331-4 span,#buttonu3330:active #u3331-4 p,#buttonu3330:active #u3331-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#buttonu3326.ButtonSelected #u3327-4 p,#buttonu3326.ButtonSelected #u3327-4 span,#buttonu3340.ButtonSelected #u3343-4 p,#buttonu3340.ButtonSelected #u3343-4 span,#buttonu3336.ButtonSelected #u3339-4 p,#buttonu3336.ButtonSelected #u3339-4 span,#buttonu3330.ButtonSelected #u3331-4 p,#buttonu3330.ButtonSelected #u3331-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3327-2,#u3343-2,#u3339-2,#u3331-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3332
{
	z-index: 164;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3336.ButtonSelected #u3337,#buttonu3330:hover #u3332
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3330:active #u3332
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3330.ButtonSelected #u3332
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#pu3789
{
	width: 0.01px;
	margin-top: 241px;
}

#u3789
{
	z-index: 168;
	width: 338px;
	height: 63px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.13;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=13)";
	filter: alpha(opacity=13);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u3790-9
{
	z-index: 169;
	width: 226px;
	min-height: 43px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u3790
{
	padding-left: 10px;
	color: #F9C854;
}

#u3790-3
{
	padding-left: 10px;
	color: #F9C854;
	font-weight: bold;
}

#u3790-5,#u3790-7
{
	padding-left: 10px;
	color: #C7C7C7;
}

#u3347
{
	z-index: 178;
	width: 67px;
	padding-bottom: 1078px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 272px;
}

#u3348
{
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 14px 11px 890px 16px;
}

#u3348:hover
{
	background-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u3348:active
{
	background-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u3348.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px;
}

#u3349
{
	z-index: 180;
	width: 39px;
	background-color: transparent;
	position: relative;
}

#u3348:hover #u3349
{
	margin: 0px;
}

#u3348:active #u3349
{
	margin: 0px;
}

#u3348.PamphletThumbSelected #u3349
{
	margin: 0px;
}

#u3349_img
{
	margin-right: -1px;
}

#u3351-4
{
	z-index: 182;
	width: 27px;
	min-height: 118px;
	background-color: transparent;
	font-size: 25px;
	color: #F9D581;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	margin-left: 7px;
	margin-top: 22px;
	position: relative;
}

#u3348:hover #u3351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u3348:active #u3351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u3348.PamphletThumbSelected #u3351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u3348.PamphletThumbSelected #u3351-4 p
{
	color: #F9D581;
	visibility: inherit;
	font-size: 25px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3344
{
	position: absolute;
	width: 66px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 1024px;
	left: 272px;
}

#u3345
{
	z-index: 187;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#top
{
	margin-left: 521px;
	position: relative;
}

#pu3403
{
	width: 0.01px;
	margin-left: 307px;
	margin-top: 210px;
}

#u3403
{
	z-index: 39;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3376
{
	z-index: 41;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u3407
{
	z-index: 43;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u3474
{
	z-index: 45;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#pu3499
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u3499
{
	z-index: 5;
	height: 170px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.25);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left center, right center, color-stop(32%, #FFFFFF),to(#FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	background: -o-linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	background: linear-gradient(to right,#FFFFFF 32%,#FFFFFF );
	-pie-background: linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	border-style: none;
	border-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	background-size: 100% auto;
}

#u3499-bw
{
	z-index: 5;
	height: 170px;
}

#pamphletu3476
{
	z-index: 114;
	width: 0.01px;
	height: 104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 65px;
}

#u3477
{
	z-index: 115;
	width: 58px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 477px;
}

#u3480
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u3480:hover
{
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3480:active
{
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3480.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3479
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 25px;
}

#u3479:hover
{
	border-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3479:active
{
	border-color: #000000;
	background-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3478
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 49px;
}

#u3478:hover
{
	border-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3478:active
{
	border-color: #000000;
	background-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3479.PamphletThumbSelected,#u3478.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3481
{
	position: absolute;
	width: 925px;
	background-color: transparent;
}

#u3481popup
{
	z-index: 119;
}

#u3484
{
	z-index: 120;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u3485-4
{
	z-index: 121;
	width: 802px;
	min-height: 44px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 114px;
}

#u3486
{
	z-index: 125;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u3487-4
{
	z-index: 126;
	width: 802px;
	min-height: 51px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 114px;
}

#u3482
{
	z-index: 130;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u3483-4
{
	z-index: 131;
	width: 573px;
	min-height: 46px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 228px;
}

#pu3439
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 587px;
}

#u3439
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	padding-bottom: 214px;
	background: #FFFFFF url("../images/_dsc0060.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3379-3
{
	z-index: 258;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 211px;
}

#poslovni
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 526px;
}

#u3439-bw
{
	z-index: 6;
	height: 337px;
}

#u3467
{
	z-index: 7;
	height: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u3467-bw
{
	z-index: 7;
	margin-bottom: -1px;
	margin-top: 495px;
	height: 605px;
}

#u3378-23
{
	z-index: 189;
	width: 793px;
	min-height: 202px;
	background-color: transparent;
	color: #F9C854;
	position: relative;
	margin-right: -10000px;
	margin-top: 501px;
	left: 196px;
}

#u3378-4
{
	font-size: 35px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3378-2
{
	font-size: 25px;
}

#u3378-5
{
	font-size: 20px;
	text-align: left;
	line-height: 1.26;
}

#u3378-7
{
	font-size: 20px;
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3378-7  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.26;
}

#u3378-6
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3378-9,#u3378-11,#u3378-13,#u3378-15,#u3378-17
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	padding-left: 16px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3378-18,#u3378-19,#u3378-20
{
	font-size: 25px;
	text-align: left;
	padding-left: 16px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3378-21
{
	font-size: 45px;
}

#u3380-3
{
	z-index: 212;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 699px;
	left: 105px;
}

#u3501
{
	z-index: 265;
	width: 582px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 714px;
	left: 226px;
}

#pu3495
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u3495
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	padding-bottom: 551px;
	background: #FFFFFF url("../images/untitled_panorama1.jpg") no-repeat center center;
	background-size: cover;
}

#u3439_align_to_page,#u3495_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#stambeni
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 543px;
}

#u3495-bw
{
	z-index: 8;
	height: 18px;
}

#u3409
{
	z-index: 9;
	height: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u3409-bw
{
	z-index: 9;
	margin-bottom: -1px;
	margin-top: 504px;
	height: 605px;
}

#u3497-27
{
	z-index: 12;
	width: 942px;
	min-height: 232px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 512px;
	left: 204px;
}

#u3497-3
{
	font-size: 35px;
	color: #F9C854;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3327-2  span,#u3343-2  span,#u3339-2  span,#u3331-2  span,#u3378-4  span,#u3497-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u3378-3,#u3497-2
{
	font-size: 25px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3497-4,#u3497-5
{
	font-size: 20px;
	text-align: left;
	color: #F9C854;
}

#u3497-7,#u3497-9
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	color: #F9C854;
}

#u3497-6,#u3497-8
{
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3497-11,#u3497-13
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3497-15,#u3497-17,#u3497-18
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	padding-left: 16px;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3497-19
{
	font-size: 25px;
	text-align: left;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3497-20,#u3497-21,#u3497-22,#u3497-23,#u3497-24
{
	font-size: 25px;
	text-align: left;
	padding-left: 16px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3497-25
{
	font-size: 45px;
	color: #F9C854;
}

#u3395
{
	z-index: 263;
	width: 582px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 740px;
	left: 221px;
}

#pu3440
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u3440
{
	z-index: 4;
	height: 1080px;
	border-color: #000000;
	background: #FFC700 url("../images/wall%20email.jpg") repeat-x center top;
}

#u3440-bw
{
	z-index: 4;
	height: 1080px;
}

#u3397
{
	z-index: 10;
	width: 326px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 549px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u3354-32
{
	z-index: 215;
	width: 172px;
	min-height: 329px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 59px;
}

#u3354-2
{
	color: #F9C854;
	font-weight: normal;
}

#u3327,#u3343,#u3339,#u3331,#u3378-8,#u3378-10,#u3378-12,#u3378-14,#u3378-16,#u3354-3,#u3354-6,#u3354-8,#u3354-10,#u3354-11,#u3354-14,#u3354-16,#u3354-18,#u3354-19,#u3354-21,#u3354-22,#u3354-25,#u3354-27,#u3354-28
{
	color: #FFFFFF;
}

#u3354-5,#u3354-13,#u3354-24,#u3354-30
{
	color: #C7C7C7;
}

#u3494
{
	z-index: 11;
	width: 466px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 368px;
}

#lokacija
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 558px;
}

#u3357-6
{
	z-index: 50;
	width: 471px;
	min-height: 460px;
	background-color: transparent;
	text-indent: 30px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 434px;
}

#u3358
{
	margin-top: 12px;
	margin-bottom: -12px;
}

#widgetu3359
{
	z-index: 56;
	width: 0.01px;
	height: 397px;
}

#widgetu3370
{
	z-index: 57;
	width: 337px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu3370.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3372-4
{
	z-index: 58;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u3373-4
{
	z-index: 62;
	width: 323px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu3370.non-empty-st #u3373-4
{
	background-color: #FFFFFF;
}

#widgetu3370:hover #u3373-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3370.focus-st #u3373-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3370.non-empty-st #u3373-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3370:hover #u3373-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3370.focus-st #u3373-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3364
{
	z-index: 66;
	width: 337px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#widgetu3364.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u3366-4
{
	z-index: 67;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu3364.fld-err-st #u3366-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u3365-4
{
	z-index: 71;
	width: 323px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu3364.non-empty-st #u3365-4
{
	background-color: #FFFFFF;
}

#widgetu3364:hover #u3365-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3364.focus-st #u3365-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3370.fld-err-st #u3373-4,#widgetu3364.fld-err-st #u3365-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3364.non-empty-st #u3365-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3364:hover #u3365-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3364.focus-st #u3365-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3370_input,#widgetu3370_prompt,#widgetu3364_input,#widgetu3364_prompt
{
	width: 323px;
	min-height: 14px;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u3375-4
{
	z-index: 75;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu3359.frm-sub-st #u3375-4 p,#widgetu3359.frm-sub-st #u3375-4 span
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3369-4
{
	z-index: 79;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu3359.frm-subm-err-st #u3369-4 p,#widgetu3359.frm-subm-err-st #u3369-4 span
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3374-4
{
	z-index: 83;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 1;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu3359.frm-sub-st #u3375-4,#widgetu3359.frm-subm-err-st #u3369-4,#widgetu3359.frm-subm-ok-st #u3374-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu3359.frm-subm-ok-st #u3374-4 p,#widgetu3359.frm-subm-ok-st #u3374-4 span
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3368-17
{
	z-index: 87;
	min-height: 31px;
	width: 80px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	background: url("../images/u3368-17.png") no-repeat 0px 0px;
}

#u3368-17:hover
{
	background: url("../images/u3368-17-r.png") no-repeat 0px 0px;
}

#u3368-17:active
{
	background: url("../images/u3368-17-m.png") no-repeat 0px 0px;
}

#widgetu3359.frm-sub-st #u3368-17
{
	background: url("../images/u3368-17-fs.png") no-repeat 0px 0px;
}

#widgetu3360
{
	z-index: 104;
	width: 337px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
}

#widgetu3360.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 123px -10000px 0px 0px;
}

#u3363-4
{
	z-index: 105;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu3370.fld-err-st #u3372-4,#widgetu3360.fld-err-st #u3363-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3370.fld-err-st #u3372-4 p,#widgetu3370.fld-err-st #u3372-4 span,#widgetu3364.fld-err-st #u3366-4 p,#widgetu3364.fld-err-st #u3366-4 span,#widgetu3360.fld-err-st #u3363-4 p,#widgetu3360.fld-err-st #u3363-4 span
{
	color: #D7244C;
}

#u3361-4
{
	z-index: 109;
	width: 323px;
	min-height: 198px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu3360.non-empty-st #u3361-4
{
	background-color: #FFFFFF;
}

#widgetu3360:hover #u3361-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3360.focus-st #u3361-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3360.fld-err-st #u3361-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3360.non-empty-st #u3361-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3360:hover #u3361-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3360.focus-st #u3361-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3370.fld-err-st #u3373-4 *,#widgetu3364.fld-err-st #u3365-4 *,#widgetu3360.fld-err-st #u3361-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu3360_input,#widgetu3360_prompt
{
	width: 323px;
	min-height: 198px;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu3370.focus-st #widgetu3370_prompt,#widgetu3364.focus-st #widgetu3364_prompt,#widgetu3360.focus-st #widgetu3360_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu3370:hover #widgetu3370_input,#widgetu3370.focus-st #widgetu3370_input,#widgetu3370.fld-err-st #widgetu3370_input,#widgetu3370:hover #widgetu3370_prompt,#widgetu3370.fld-err-st #widgetu3370_prompt,#widgetu3364:hover #widgetu3364_input,#widgetu3364.focus-st #widgetu3364_input,#widgetu3364.fld-err-st #widgetu3364_input,#widgetu3364:hover #widgetu3364_prompt,#widgetu3364.fld-err-st #widgetu3364_prompt,#widgetu3360:hover #widgetu3360_input,#widgetu3360.focus-st #widgetu3360_input,#widgetu3360.fld-err-st #widgetu3360_input,#widgetu3360:hover #widgetu3360_prompt,#widgetu3360.fld-err-st #widgetu3360_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu3370.non-empty-st #widgetu3370_prompt,#widgetu3364.non-empty-st #widgetu3364_prompt,#widgetu3360.non-empty-st #widgetu3360_prompt
{
	visibility: hidden;
}

#u3393
{
	z-index: 247;
	width: 793px;
	border-style: none;
	border-color: transparent;
	background-color: #1E1E1E;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 614px;
	left: 41px;
}

#u3498-4
{
	z-index: 248;
	width: 168px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 69px;
}

#u3398-4
{
	z-index: 252;
	width: 316px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 242px;
}

#u3410
{
	z-index: 256;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: 99px;
}

#u3355
{
	z-index: 261;
	width: 793px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 658px;
	left: 41px;
}

body
{
	position: relative;
	min-width: 960px;
}

