.version.royalmenex_com_english /* version checker */
{
	color: #000003;
	background-color: #213868;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4351px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 4px;
	padding-bottom: 1px;
}

#u3165
{
	z-index: 2;
	height: 1079px;
	border-color: #000000;
	position: fixed;
	top: -1px;
	background: #000000 url("../images/wallpaper%20blur%20saturation.jpg") no-repeat right top;
	background-size: cover;
}

#u3165-bw
{
	z-index: 2;
}

#pamphletu3103
{
	z-index: 130;
	width: 0.01px;
	height: 1079px;
	position: fixed;
	top: -1px;
	right: 339px;
}

#u3106
{
	position: absolute;
	width: 341px;
	background-color: transparent;
}

#u3106popup
{
	z-index: 131;
}

#u3107
{
	z-index: 132;
	width: 340px;
	height: 946px;
	border-style: none;
	border-color: transparent;
	padding-right: 1px;
	padding-bottom: 122px;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/meni%20black%20wall.png") no-repeat left top;
}

#u3116
{
	z-index: 163;
	width: 270px;
	background-color: transparent;
	margin-left: 31px;
	position: relative;
}

#buttonu3108
{
	z-index: 133;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	position: relative;
}

#buttonu3108:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px;
}

#buttonu3108:active
{
	background-color: transparent;
	margin: 0px;
}

#u3109-4
{
	z-index: 134;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3108:hover #u3109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3108:active #u3109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3108:hover #u3109-4 p,#buttonu3108:hover #u3109-4 span,#buttonu3108:active #u3109-4 p,#buttonu3108:active #u3109-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u3110
{
	z-index: 138;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3108:hover #u3110
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3108:active #u3110
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3122
{
	z-index: 140;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	position: relative;
}

#buttonu3122:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px;
}

#buttonu3108.ButtonSelected,#buttonu3122:active
{
	background-color: transparent;
	margin: 0px;
}

#buttonu3122.ButtonSelected
{
	background-color: transparent;
	margin: 0px;
}

#u3125-4
{
	z-index: 141;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3108.ButtonSelected #u3109-4,#buttonu3122:hover #u3125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3122:active #u3125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3122:hover #u3125-4 p,#buttonu3122:hover #u3125-4 span,#buttonu3122:active #u3125-4 p,#buttonu3122:active #u3125-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u3123
{
	z-index: 145;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3108.ButtonSelected #u3110,#buttonu3122:hover #u3123
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3122:active #u3123
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3118
{
	z-index: 147;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu3118:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px 0px -1px;
}

#buttonu3118:active
{
	background-color: transparent;
	margin: 0px 0px -1px;
}

#buttonu3118.ButtonSelected
{
	background-color: transparent;
	margin: 0px 0px -1px;
}

#u3121-6
{
	z-index: 148;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3122.ButtonSelected #u3125-4,#buttonu3118:hover #u3121-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3118:active #u3121-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3118:hover #u3121-6 p,#buttonu3118:hover #u3121-6 span,#buttonu3118:active #u3121-6 p,#buttonu3118:active #u3121-6 span
{
	color: #F9C854;
	visibility: inherit;
}

#u3119
{
	z-index: 154;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3122.ButtonSelected #u3123,#buttonu3118:hover #u3119
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3118:active #u3119
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3112
{
	z-index: 156;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	margin-top: 1px;
	position: relative;
}

#buttonu3112:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 1px 0px 0px;
}

#buttonu3112:active
{
	background-color: transparent;
	margin: 1px 0px 0px;
}

#buttonu3112.ButtonSelected
{
	background-color: transparent;
	margin: 1px 0px 0px;
}

#u3113-4
{
	z-index: 157;
	width: 122px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3118.ButtonSelected #u3121-6,#buttonu3112:hover #u3113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3112:active #u3113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3112.ButtonSelected #u3113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3112:hover #u3113-4 p,#buttonu3112:hover #u3113-4 span,#buttonu3112:active #u3113-4 p,#buttonu3112:active #u3113-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#buttonu3108.ButtonSelected #u3109-4 p,#buttonu3108.ButtonSelected #u3109-4 span,#buttonu3122.ButtonSelected #u3125-4 p,#buttonu3122.ButtonSelected #u3125-4 span,#buttonu3118.ButtonSelected #u3121-6 p,#buttonu3118.ButtonSelected #u3121-6 span,#buttonu3112.ButtonSelected #u3113-4 p,#buttonu3112.ButtonSelected #u3113-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3109-2,#u3125-2,#u3121-2,#u3121-4,#u3113-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3114
{
	z-index: 161;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3118.ButtonSelected #u3119,#buttonu3112:hover #u3114
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3112:active #u3114
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3112.ButtonSelected #u3114
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#pu3785-9
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 252px;
}

#u3785-9
{
	z-index: 165;
	width: 226px;
	min-height: 43px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u3785
{
	padding-left: 10px;
	color: #F9C854;
}

#u3785-3
{
	padding-left: 10px;
	color: #F9C854;
	font-weight: bold;
}

#u3785-5,#u3785-7
{
	padding-left: 10px;
	color: #C7C7C7;
}

#u3786
{
	z-index: 174;
	width: 338px;
	height: 61px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.13;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=13)";
	filter: alpha(opacity=13);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3129
{
	z-index: 175;
	width: 67px;
	padding-bottom: 1078px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 272px;
}

#u3130
{
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 14px 11px 890px 16px;
}

#u3130:hover
{
	background-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u3130:active
{
	background-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u3130.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px;
}

#u3131
{
	z-index: 177;
	width: 39px;
	background-color: transparent;
	position: relative;
}

#u3130:hover #u3131
{
	margin: 0px;
}

#u3130:active #u3131
{
	margin: 0px;
}

#u3130.PamphletThumbSelected #u3131
{
	margin: 0px;
}

#u3131_img
{
	margin-right: -1px;
}

#u3133-4
{
	z-index: 179;
	width: 27px;
	min-height: 118px;
	background-color: transparent;
	font-size: 25px;
	color: #F9D581;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	margin-left: 7px;
	margin-top: 22px;
	position: relative;
}

#u3130:hover #u3133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u3130:active #u3133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u3130.PamphletThumbSelected #u3133-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u3130.PamphletThumbSelected #u3133-4 p
{
	color: #F9D581;
	visibility: inherit;
	font-size: 25px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3126
{
	position: absolute;
	width: 66px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 1024px;
	left: 272px;
}

#u3127
{
	z-index: 184;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#top
{
	margin-left: 521px;
	position: relative;
}

#pu3185
{
	width: 0.01px;
	margin-left: 307px;
	margin-top: 210px;
}

#u3185
{
	z-index: 34;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3158
{
	z-index: 36;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u3189
{
	z-index: 38;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u3256
{
	z-index: 40;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#pu3281
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u3281
{
	z-index: 5;
	height: 170px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.25);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left center, right center, color-stop(32%, #FFFFFF),to(#FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	background: -o-linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	background: linear-gradient(to right,#FFFFFF 32%,#FFFFFF );
	-pie-background: linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	border-style: none;
	border-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	background-size: 100% auto;
}

#u3281-bw
{
	z-index: 5;
	height: 170px;
}

#pamphletu3258
{
	z-index: 109;
	width: 0.01px;
	height: 104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 65px;
}

#u3259
{
	z-index: 110;
	width: 58px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 477px;
}

#u3262
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u3262:hover
{
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3262:active
{
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3262.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3261
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 25px;
}

#u3261:hover
{
	border-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3261:active
{
	border-color: #000000;
	background-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3260
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 49px;
}

#u3260:hover
{
	border-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3260:active
{
	border-color: #000000;
	background-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3261.PamphletThumbSelected,#u3260.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3263
{
	position: absolute;
	width: 925px;
	background-color: transparent;
}

#u3263popup
{
	z-index: 114;
}

#u3266
{
	z-index: 115;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u3267-4
{
	z-index: 116;
	width: 802px;
	min-height: 44px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 114px;
}

#u3268
{
	z-index: 120;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u3269-4
{
	z-index: 121;
	width: 802px;
	min-height: 51px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 114px;
}

#u3264
{
	z-index: 125;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u3265-4
{
	z-index: 126;
	width: 573px;
	min-height: 46px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 228px;
}

#pu3221
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 587px;
}

#u3221
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	padding-bottom: 214px;
	background: #FFFFFF url("../images/_dsc0060.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3161-3
{
	z-index: 253;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 211px;
}

#poslovni
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 526px;
}

#u3221-bw
{
	z-index: 6;
	height: 337px;
}

#u3249
{
	z-index: 7;
	height: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u3249-bw
{
	z-index: 7;
	margin-bottom: -1px;
	margin-top: 495px;
	height: 605px;
}

#u3160-21
{
	z-index: 186;
	width: 793px;
	min-height: 202px;
	background-color: transparent;
	color: #F9C854;
	position: relative;
	margin-right: -10000px;
	margin-top: 501px;
	left: 196px;
}

#u3160-4
{
	font-size: 35px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3160-2
{
	font-size: 25px;
}

#u3160-5
{
	font-size: 20px;
	text-align: left;
	line-height: 1.26;
}

#u3160-7
{
	font-size: 20px;
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3160-7  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.26;
}

#u3160-6
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3160-9,#u3160-11,#u3160-13,#u3160-15
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	padding-left: 16px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3160-16,#u3160-17,#u3160-18
{
	font-size: 25px;
	text-align: left;
	padding-left: 16px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3160-19
{
	font-size: 45px;
}

#u3162-3
{
	z-index: 207;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 699px;
	left: 105px;
}

#u3283
{
	z-index: 260;
	width: 582px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 697px;
	left: 226px;
}

#pu3277
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u3277
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	padding-bottom: 551px;
	background: #FFFFFF url("../images/untitled_panorama1.jpg") no-repeat center center;
	background-size: cover;
}

#u3221_align_to_page,#u3277_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#stambeni
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 543px;
}

#u3277-bw
{
	z-index: 8;
	height: 18px;
}

#u3191
{
	z-index: 9;
	height: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u3191-bw
{
	z-index: 9;
	margin-bottom: -1px;
	margin-top: 504px;
	height: 605px;
}

#u3279-22
{
	z-index: 12;
	width: 942px;
	min-height: 232px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 512px;
	left: 204px;
}

#u3279-3
{
	font-size: 35px;
	color: #F9C854;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3109-2  span,#u3125-2  span,#u3121-2  span,#u3121-4  span,#u3113-2  span,#u3160-4  span,#u3279-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u3160-3,#u3279-2
{
	font-size: 25px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3279-4,#u3279-5
{
	font-size: 20px;
	text-align: left;
	color: #F9C854;
}

#u3279-7
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	color: #F9C854;
}

#u3279-6
{
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3279-9,#u3279-11,#u3279-13
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3279-14
{
	font-size: 25px;
	text-align: left;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3279-15,#u3279-16,#u3279-17,#u3279-18,#u3279-19
{
	font-size: 25px;
	text-align: left;
	padding-left: 16px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3279-20
{
	font-size: 45px;
	color: #F9C854;
}

#u3177
{
	z-index: 258;
	width: 582px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 720px;
	left: 221px;
}

#pu3222
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u3222
{
	z-index: 4;
	height: 1080px;
	border-color: #000000;
	background: #FFC700 url("../images/wall%20email.jpg") repeat-x center top;
}

#u3222-bw
{
	z-index: 4;
	height: 1080px;
}

#u3179
{
	z-index: 10;
	width: 326px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 549px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u3136-32
{
	z-index: 210;
	width: 172px;
	min-height: 329px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 59px;
}

#u3136-2
{
	color: #F9C854;
	font-weight: normal;
}

#u3109,#u3125,#u3121,#u3121-3,#u3113,#u3160-8,#u3160-10,#u3160-12,#u3160-14,#u3136-3,#u3136-6,#u3136-8,#u3136-10,#u3136-11,#u3136-14,#u3136-16,#u3136-18,#u3136-19,#u3136-21,#u3136-22,#u3136-25,#u3136-27,#u3136-28
{
	color: #FFFFFF;
}

#u3136-5,#u3136-13,#u3136-24,#u3136-30
{
	color: #C7C7C7;
}

#u3276
{
	z-index: 11;
	width: 466px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 368px;
}

#lokacija
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 558px;
}

#u3139-6
{
	z-index: 45;
	width: 471px;
	min-height: 460px;
	background-color: transparent;
	text-indent: 30px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 434px;
}

#u3140
{
	margin-top: 12px;
	margin-bottom: -12px;
}

#widgetu3141
{
	z-index: 51;
	width: 0.01px;
	height: 397px;
}

#widgetu3152
{
	z-index: 52;
	width: 337px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu3152.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3154-4
{
	z-index: 53;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u3155-4
{
	z-index: 57;
	width: 323px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu3152.non-empty-st #u3155-4
{
	background-color: #FFFFFF;
}

#widgetu3152:hover #u3155-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3152.focus-st #u3155-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3152.non-empty-st #u3155-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3152:hover #u3155-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3152.focus-st #u3155-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3146
{
	z-index: 61;
	width: 337px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#widgetu3146.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u3148-4
{
	z-index: 62;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu3146.fld-err-st #u3148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u3147-4
{
	z-index: 66;
	width: 323px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu3146.non-empty-st #u3147-4
{
	background-color: #FFFFFF;
}

#widgetu3146:hover #u3147-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3146.focus-st #u3147-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3152.fld-err-st #u3155-4,#widgetu3146.fld-err-st #u3147-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3146.non-empty-st #u3147-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3146:hover #u3147-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3146.focus-st #u3147-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3152_input,#widgetu3152_prompt,#widgetu3146_input,#widgetu3146_prompt
{
	width: 323px;
	min-height: 14px;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u3157-4
{
	z-index: 70;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu3141.frm-sub-st #u3157-4 p,#widgetu3141.frm-sub-st #u3157-4 span
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3151-4
{
	z-index: 74;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu3141.frm-subm-err-st #u3151-4 p,#widgetu3141.frm-subm-err-st #u3151-4 span
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3156-4
{
	z-index: 78;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu3141.frm-sub-st #u3157-4,#widgetu3141.frm-subm-err-st #u3151-4,#widgetu3141.frm-subm-ok-st #u3156-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu3141.frm-subm-ok-st #u3156-4 p,#widgetu3141.frm-subm-ok-st #u3156-4 span
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3150-17
{
	z-index: 82;
	min-height: 31px;
	width: 80px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	background: url("../images/u3150-17.png") no-repeat 0px 0px;
}

#u3150-17:hover
{
	background: url("../images/u3150-17-r.png") no-repeat 0px 0px;
}

#u3150-17:active
{
	background: url("../images/u3150-17-m.png") no-repeat 0px 0px;
}

#widgetu3141.frm-sub-st #u3150-17
{
	background: url("../images/u3150-17-fs.png") no-repeat 0px 0px;
}

#widgetu3142
{
	z-index: 99;
	width: 337px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
}

#widgetu3142.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 123px -10000px 0px 0px;
}

#u3145-4
{
	z-index: 100;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu3152.fld-err-st #u3154-4,#widgetu3142.fld-err-st #u3145-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3152.fld-err-st #u3154-4 p,#widgetu3152.fld-err-st #u3154-4 span,#widgetu3146.fld-err-st #u3148-4 p,#widgetu3146.fld-err-st #u3148-4 span,#widgetu3142.fld-err-st #u3145-4 p,#widgetu3142.fld-err-st #u3145-4 span
{
	color: #D7244C;
}

#u3143-4
{
	z-index: 104;
	width: 323px;
	min-height: 198px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu3142.non-empty-st #u3143-4
{
	background-color: #FFFFFF;
}

#widgetu3142:hover #u3143-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3142.focus-st #u3143-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3142.fld-err-st #u3143-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3142.non-empty-st #u3143-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3142:hover #u3143-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3142.focus-st #u3143-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3152.fld-err-st #u3155-4 *,#widgetu3146.fld-err-st #u3147-4 *,#widgetu3142.fld-err-st #u3143-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu3142_input,#widgetu3142_prompt
{
	width: 323px;
	min-height: 198px;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu3152.focus-st #widgetu3152_prompt,#widgetu3146.focus-st #widgetu3146_prompt,#widgetu3142.focus-st #widgetu3142_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu3152:hover #widgetu3152_input,#widgetu3152.focus-st #widgetu3152_input,#widgetu3152.fld-err-st #widgetu3152_input,#widgetu3152:hover #widgetu3152_prompt,#widgetu3152.fld-err-st #widgetu3152_prompt,#widgetu3146:hover #widgetu3146_input,#widgetu3146.focus-st #widgetu3146_input,#widgetu3146.fld-err-st #widgetu3146_input,#widgetu3146:hover #widgetu3146_prompt,#widgetu3146.fld-err-st #widgetu3146_prompt,#widgetu3142:hover #widgetu3142_input,#widgetu3142.focus-st #widgetu3142_input,#widgetu3142.fld-err-st #widgetu3142_input,#widgetu3142:hover #widgetu3142_prompt,#widgetu3142.fld-err-st #widgetu3142_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu3152.non-empty-st #widgetu3152_prompt,#widgetu3146.non-empty-st #widgetu3146_prompt,#widgetu3142.non-empty-st #widgetu3142_prompt
{
	visibility: hidden;
}

#u3175
{
	z-index: 242;
	width: 793px;
	border-style: none;
	border-color: transparent;
	background-color: #1E1E1E;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 614px;
	left: 41px;
}

#u3280-4
{
	z-index: 243;
	width: 168px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 69px;
}

#u3180-4
{
	z-index: 247;
	width: 316px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 242px;
}

#u3192
{
	z-index: 251;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: 99px;
}

#u3137
{
	z-index: 256;
	width: 793px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 658px;
	left: 41px;
}

body
{
	position: relative;
	min-width: 960px;
}

