.version.royalmenex_com_german /* version checker */
{
	color: #0000F8;
	background-color: #0B0653;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4351px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 4px;
	padding-bottom: 1px;
}

#u3601
{
	z-index: 2;
	height: 1079px;
	border-color: #000000;
	position: fixed;
	top: -1px;
	background: #000000 url("../images/wallpaper%20blur%20saturation.jpg") no-repeat right top;
	background-size: cover;
}

#u3601-bw
{
	z-index: 2;
}

#pamphletu3539
{
	z-index: 129;
	width: 0.01px;
	height: 1079px;
	padding-bottom: 45px;
	position: fixed;
	top: -1px;
	right: 344px;
}

#u3542
{
	position: absolute;
	width: 345px;
	background-color: transparent;
}

#u3542popup
{
	z-index: 130;
}

#u3543
{
	z-index: 131;
	width: 340px;
	height: 948px;
	border-style: none;
	border-color: transparent;
	padding-right: 5px;
	padding-bottom: 176px;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/meni%20black%20wall.png") no-repeat left top;
}

#u3552
{
	z-index: 162;
	width: 270px;
	background-color: transparent;
	margin-left: 36px;
	position: relative;
}

#buttonu3544
{
	z-index: 132;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	margin-left: 5px;
	position: relative;
}

#buttonu3544:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px 0px 0px 5px;
}

#buttonu3544:active
{
	background-color: transparent;
	margin: 0px 0px 0px 5px;
}

#u3545-4
{
	z-index: 133;
	width: 135px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 89px;
}

#buttonu3544:hover #u3545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3544:active #u3545-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3544:hover #u3545-4 p,#buttonu3544:hover #u3545-4 span,#buttonu3544:active #u3545-4 p,#buttonu3544:active #u3545-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u3546
{
	z-index: 137;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3544:hover #u3546
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3544:active #u3546
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3558
{
	z-index: 139;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 39px;
	margin-left: 5px;
	position: relative;
}

#buttonu3558:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px 0px 0px 5px;
}

#buttonu3544.ButtonSelected,#buttonu3558:active
{
	background-color: transparent;
	margin: 0px 0px 0px 5px;
}

#buttonu3558.ButtonSelected
{
	background-color: transparent;
	margin: 0px 0px 0px 5px;
}

#u3561-4
{
	z-index: 140;
	width: 232px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 41px;
}

#buttonu3544.ButtonSelected #u3545-4,#buttonu3558:hover #u3561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3558:active #u3561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3558:hover #u3561-4 p,#buttonu3558:hover #u3561-4 span,#buttonu3558:active #u3561-4 p,#buttonu3558:active #u3561-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u3559
{
	z-index: 144;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3544.ButtonSelected #u3546,#buttonu3558:hover #u3559
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3558:active #u3559
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3554
{
	z-index: 146;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 24px;
	margin-left: 5px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu3554:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 0px 0px -1px 5px;
}

#buttonu3554:active
{
	background-color: transparent;
	margin: 0px 0px -1px 5px;
}

#buttonu3554.ButtonSelected
{
	background-color: transparent;
	margin: 0px 0px -1px 5px;
}

#u3557-4
{
	z-index: 147;
	width: 176px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 66px;
}

#buttonu3558.ButtonSelected #u3561-4,#buttonu3554:hover #u3557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3554:active #u3557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3554:hover #u3557-4 p,#buttonu3554:hover #u3557-4 span,#buttonu3554:active #u3557-4 p,#buttonu3554:active #u3557-4 span
{
	color: #F9C854;
	visibility: inherit;
}

#u3555
{
	z-index: 151;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3558.ButtonSelected #u3559,#buttonu3554:hover #u3555
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3554:active #u3555
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3548
{
	z-index: 153;
	width: 313px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 59px;
	margin-left: 5px;
	margin-top: 1px;
	position: relative;
}

#buttonu3548:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin: 1px 0px 0px 5px;
}

#buttonu3548:active
{
	background-color: transparent;
	margin: 1px 0px 0px 5px;
}

#buttonu3548.ButtonSelected
{
	background-color: transparent;
	margin: 1px 0px 0px 5px;
}

#u3549-6
{
	z-index: 154;
	width: 245px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 34px;
}

#buttonu3554.ButtonSelected #u3557-4,#buttonu3548:hover #u3549-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3548:active #u3549-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3548.ButtonSelected #u3549-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3548:hover #u3549-6 p,#buttonu3548:hover #u3549-6 span,#buttonu3548:active #u3549-6 p,#buttonu3548:active #u3549-6 span
{
	color: #F9C854;
	visibility: inherit;
}

#buttonu3544.ButtonSelected #u3545-4 p,#buttonu3544.ButtonSelected #u3545-4 span,#buttonu3558.ButtonSelected #u3561-4 p,#buttonu3558.ButtonSelected #u3561-4 span,#buttonu3554.ButtonSelected #u3557-4 p,#buttonu3554.ButtonSelected #u3557-4 span,#buttonu3548.ButtonSelected #u3549-6 p,#buttonu3548.ButtonSelected #u3549-6 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3545-2,#u3561-2,#u3557-2,#u3549-2,#u3549-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3550
{
	z-index: 160;
	width: 17px;
	border-style: none;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3554.ButtonSelected #u3555,#buttonu3548:hover #u3550
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3548:active #u3550
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#buttonu3548.ButtonSelected #u3550
{
	background-color: transparent;
	margin: 24px -10000px 0px 0px;
}

#pu3780-9
{
	width: 0.01px;
	margin-top: 233px;
}

#u3780-9
{
	z-index: 164;
	width: 226px;
	min-height: 43px;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u3780
{
	padding-left: 10px;
	color: #F9C854;
}

#u3780-3
{
	padding-left: 10px;
	color: #F9C854;
	font-weight: bold;
}

#u3780-5,#u3780-7
{
	padding-left: 10px;
	color: #C7C7C7;
}

#u3782
{
	z-index: 173;
	width: 338px;
	height: 63px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.13;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=13)";
	filter: alpha(opacity=13);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1px;
}

#u3565
{
	z-index: 174;
	width: 67px;
	padding-bottom: 1078px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 277px;
}

#u3566
{
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 14px 11px 890px 16px;
}

#u3566:hover
{
	background-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u3566:active
{
	background-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
}

#u3566.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: 0px;
}

#u3567
{
	z-index: 176;
	width: 39px;
	background-color: transparent;
	position: relative;
}

#u3566:hover #u3567
{
	margin: 0px;
}

#u3566:active #u3567
{
	margin: 0px;
}

#u3566.PamphletThumbSelected #u3567
{
	margin: 0px;
}

#u3567_img
{
	margin-right: -1px;
}

#u3569-4
{
	z-index: 178;
	width: 27px;
	min-height: 118px;
	background-color: transparent;
	font-size: 25px;
	color: #F9D581;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	margin-left: 7px;
	margin-top: 22px;
	position: relative;
}

#u3566:hover #u3569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u3566:active #u3569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u3566.PamphletThumbSelected #u3569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 118px;
	margin: 22px 0px 0px 7px;
}

#u3566.PamphletThumbSelected #u3569-4 p
{
	color: #F9D581;
	visibility: inherit;
	font-size: 25px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3562
{
	position: absolute;
	width: 66px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 1024px;
	left: 277px;
}

#u3563
{
	z-index: 183;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 11px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#top
{
	margin-left: 521px;
	position: relative;
}

#pu3621
{
	width: 0.01px;
	margin-left: 307px;
	margin-top: 210px;
}

#u3621
{
	z-index: 33;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3594
{
	z-index: 35;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u3625
{
	z-index: 37;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u3692
{
	z-index: 39;
	width: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#pu3717
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#u3717
{
	z-index: 5;
	height: 170px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.25);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
	background: -webkit-gradient(linear, left center, right center, color-stop(32%, #FFFFFF),to(#FFFFFF));
	background: -webkit-linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	background: -o-linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	background: linear-gradient(to right,#FFFFFF 32%,#FFFFFF );
	-pie-background: linear-gradient(left,#FFFFFF 32%,#FFFFFF );
	border-style: none;
	border-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	background-size: 100% auto;
}

#u3717-bw
{
	z-index: 5;
	height: 170px;
}

#pamphletu3694
{
	z-index: 108;
	width: 0.01px;
	height: 104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 65px;
}

#u3695
{
	z-index: 109;
	width: 58px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 477px;
}

#u3698
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u3698:hover
{
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3698:active
{
	border-color: #000000;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3698.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3697
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 25px;
}

#u3697:hover
{
	border-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3697:active
{
	border-color: #000000;
	background-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3696
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	left: 49px;
}

#u3696:hover
{
	border-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3696:active
{
	border-color: #000000;
	background-color: #000000;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3697.PamphletThumbSelected,#u3696.PamphletThumbSelected
{
	border-color: #FFFFFF;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u3699
{
	position: absolute;
	width: 925px;
	background-color: transparent;
}

#u3699popup
{
	z-index: 113;
}

#u3702
{
	z-index: 114;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u3703-4
{
	z-index: 115;
	width: 802px;
	min-height: 44px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 114px;
}

#u3704
{
	z-index: 119;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u3705-4
{
	z-index: 120;
	width: 802px;
	min-height: 51px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 114px;
}

#u3700
{
	z-index: 124;
	width: 925px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u3701-4
{
	z-index: 125;
	width: 573px;
	min-height: 46px;
	background-color: transparent;
	font-size: 35px;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 228px;
}

#pu3657
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 587px;
}

#u3657
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	padding-bottom: 214px;
	background: #FFFFFF url("../images/_dsc0060.jpg") no-repeat center bottom;
	background-size: cover;
}

#u3597-3
{
	z-index: 249;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 211px;
}

#poslovni
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 526px;
}

#u3657-bw
{
	z-index: 6;
	height: 337px;
}

#u3685
{
	z-index: 7;
	height: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u3685-bw
{
	z-index: 7;
	margin-bottom: -1px;
	margin-top: 495px;
	height: 605px;
}

#u3596-18
{
	z-index: 185;
	width: 793px;
	min-height: 202px;
	background-color: transparent;
	color: #F9C854;
	position: relative;
	margin-right: -10000px;
	margin-top: 501px;
	left: 196px;
}

#u3596-4
{
	font-size: 35px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3596-2
{
	font-size: 25px;
}

#u3596-5
{
	font-size: 20px;
	text-align: left;
	line-height: 1.26;
}

#u3596-7
{
	font-size: 20px;
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3596-7  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.26;
}

#u3596-6
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3596-9,#u3596-11,#u3596-13
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	padding-left: 16px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3596-14,#u3596-15
{
	font-size: 25px;
	text-align: left;
	padding-left: 16px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3596-16
{
	font-size: 45px;
}

#u3598-3
{
	z-index: 203;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 699px;
	left: 105px;
}

#u3719
{
	z-index: 256;
	width: 582px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 697px;
	left: 226px;
}

#pu3713
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u3713
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	padding-bottom: 551px;
	background: #FFFFFF url("../images/untitled_panorama1.jpg") no-repeat center center;
	background-size: cover;
}

#u3657_align_to_page,#u3713_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#stambeni
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 543px;
}

#u3713-bw
{
	z-index: 8;
	height: 18px;
}

#u3627
{
	z-index: 9;
	height: 603px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u3627-bw
{
	z-index: 9;
	margin-bottom: -1px;
	margin-top: 504px;
	height: 605px;
}

#u3715-21
{
	z-index: 12;
	width: 942px;
	min-height: 232px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 512px;
	left: 204px;
}

#u3715-3
{
	font-size: 35px;
	color: #F9C854;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3545-2  span,#u3561-2  span,#u3557-2  span,#u3549-2  span,#u3549-4  span,#u3596-4  span,#u3715-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u3596-3,#u3715-2
{
	font-size: 25px;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3715-4,#u3715-5
{
	font-size: 20px;
	text-align: left;
	color: #F9C854;
}

#u3715-7
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	color: #F9C854;
}

#u3715-6
{
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3715-9,#u3715-11,#u3715-12
{
	font-size: 16px;
	text-align: left;
	line-height: 1.26;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3715-13
{
	font-size: 25px;
	text-align: left;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3715-14,#u3715-15,#u3715-16,#u3715-17,#u3715-18
{
	font-size: 25px;
	text-align: left;
	padding-left: 16px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
}

#u3715-19
{
	font-size: 45px;
	color: #F9C854;
}

#u3613
{
	z-index: 254;
	width: 582px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 700px;
	left: 221px;
}

#pu3658
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u3658
{
	z-index: 4;
	height: 1080px;
	border-color: #000000;
	background: #FFC700 url("../images/wall%20email.jpg") repeat-x center top;
}

#u3658-bw
{
	z-index: 4;
	height: 1080px;
}

#u3615
{
	z-index: 10;
	width: 326px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 549px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u3572-32
{
	z-index: 206;
	width: 172px;
	min-height: 329px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 59px;
}

#u3572-2
{
	color: #F9C854;
	font-weight: normal;
}

#u3545,#u3561,#u3557,#u3549,#u3549-3,#u3596-8,#u3596-10,#u3596-12,#u3572-6,#u3572-8,#u3572-10,#u3572-11,#u3572-14,#u3572-16,#u3572-18,#u3572-19,#u3572-21,#u3572-22,#u3572-25,#u3572-27,#u3572-28
{
	color: #FFFFFF;
}

#u3572-3,#u3572-5,#u3572-13,#u3572-24,#u3572-30
{
	color: #C7C7C7;
}

#u3712
{
	z-index: 11;
	width: 466px;
	height: 423px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 368px;
}

#lokacija
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 558px;
}

#u3575-6
{
	z-index: 44;
	width: 471px;
	min-height: 460px;
	background-color: transparent;
	text-indent: 30px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 434px;
}

#u3576
{
	margin-top: 12px;
	margin-bottom: -12px;
}

#widgetu3577
{
	z-index: 50;
	width: 0.01px;
	height: 397px;
}

#widgetu3588
{
	z-index: 51;
	width: 337px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu3588.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3590-4
{
	z-index: 52;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u3591-4
{
	z-index: 56;
	width: 323px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu3588.non-empty-st #u3591-4
{
	background-color: #FFFFFF;
}

#widgetu3588:hover #u3591-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3588.focus-st #u3591-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3588.non-empty-st #u3591-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3588:hover #u3591-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3588.focus-st #u3591-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3582
{
	z-index: 60;
	width: 337px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#widgetu3582.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u3584-4
{
	z-index: 61;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu3582.fld-err-st #u3584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u3583-4
{
	z-index: 65;
	width: 323px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu3582.non-empty-st #u3583-4
{
	background-color: #FFFFFF;
}

#widgetu3582:hover #u3583-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3582.focus-st #u3583-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3588.fld-err-st #u3591-4,#widgetu3582.fld-err-st #u3583-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3582.non-empty-st #u3583-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3582:hover #u3583-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3582.focus-st #u3583-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3588_input,#widgetu3588_prompt,#widgetu3582_input,#widgetu3582_prompt
{
	width: 323px;
	min-height: 14px;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u3593-4
{
	z-index: 69;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu3577.frm-sub-st #u3593-4 p,#widgetu3577.frm-sub-st #u3593-4 span
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3587-4
{
	z-index: 73;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu3577.frm-subm-err-st #u3587-4 p,#widgetu3577.frm-subm-err-st #u3587-4 span
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3592-4
{
	z-index: 77;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 218px;
}

#widgetu3577.frm-sub-st #u3593-4,#widgetu3577.frm-subm-err-st #u3587-4,#widgetu3577.frm-subm-ok-st #u3592-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu3577.frm-subm-ok-st #u3592-4 p,#widgetu3577.frm-subm-ok-st #u3592-4 span
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3586-17
{
	z-index: 81;
	min-height: 31px;
	width: 80px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	background: url("../images/u3586-17.png") no-repeat 0px 0px;
}

#u3586-17:hover
{
	background: url("../images/u3586-17-r.png") no-repeat 0px 0px;
}

#u3586-17:active
{
	background: url("../images/u3586-17-m.png") no-repeat 0px 0px;
}

#widgetu3577.frm-sub-st #u3586-17
{
	background: url("../images/u3586-17-fs.png") no-repeat 0px 0px;
}

#widgetu3578
{
	z-index: 98;
	width: 337px;
	height: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
}

#widgetu3578.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 123px -10000px 0px 0px;
}

#u3581-4
{
	z-index: 99;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 1;
	color: #FFFFFF;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu3588.fld-err-st #u3590-4,#widgetu3578.fld-err-st #u3581-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3588.fld-err-st #u3590-4 p,#widgetu3588.fld-err-st #u3590-4 span,#widgetu3582.fld-err-st #u3584-4 p,#widgetu3582.fld-err-st #u3584-4 span,#widgetu3578.fld-err-st #u3581-4 p,#widgetu3578.fld-err-st #u3581-4 span
{
	color: #D7244C;
}

#u3579-4
{
	z-index: 103;
	width: 323px;
	min-height: 198px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu3578.non-empty-st #u3579-4
{
	background-color: #FFFFFF;
}

#widgetu3578:hover #u3579-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3578.focus-st #u3579-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3578.fld-err-st #u3579-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 198px;
	width: 323px;
	margin: 19px -10000px 0px 0px;
}

#widgetu3578.non-empty-st #u3579-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3578:hover #u3579-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3578.focus-st #u3579-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu3588.fld-err-st #u3591-4 *,#widgetu3582.fld-err-st #u3583-4 *,#widgetu3578.fld-err-st #u3579-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu3578_input,#widgetu3578_prompt
{
	width: 323px;
	min-height: 198px;
	color: #898989;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu3588.focus-st #widgetu3588_prompt,#widgetu3582.focus-st #widgetu3582_prompt,#widgetu3578.focus-st #widgetu3578_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu3588:hover #widgetu3588_input,#widgetu3588.focus-st #widgetu3588_input,#widgetu3588.fld-err-st #widgetu3588_input,#widgetu3588:hover #widgetu3588_prompt,#widgetu3588.fld-err-st #widgetu3588_prompt,#widgetu3582:hover #widgetu3582_input,#widgetu3582.focus-st #widgetu3582_input,#widgetu3582.fld-err-st #widgetu3582_input,#widgetu3582:hover #widgetu3582_prompt,#widgetu3582.fld-err-st #widgetu3582_prompt,#widgetu3578:hover #widgetu3578_input,#widgetu3578.focus-st #widgetu3578_input,#widgetu3578.fld-err-st #widgetu3578_input,#widgetu3578:hover #widgetu3578_prompt,#widgetu3578.fld-err-st #widgetu3578_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu3588.non-empty-st #widgetu3588_prompt,#widgetu3582.non-empty-st #widgetu3582_prompt,#widgetu3578.non-empty-st #widgetu3578_prompt
{
	visibility: hidden;
}

#u3611
{
	z-index: 238;
	width: 793px;
	border-style: none;
	border-color: transparent;
	background-color: #1E1E1E;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 614px;
	left: 41px;
}

#u3716-4
{
	z-index: 239;
	width: 168px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 69px;
}

#u3616-4
{
	z-index: 243;
	width: 316px;
	min-height: 28px;
	background-color: transparent;
	font-size: 25px;
	color: #F9C854;
	font-family: comfortaa, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 242px;
}

#u3628
{
	z-index: 247;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: 99px;
}

#u3573
{
	z-index: 252;
	width: 793px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 658px;
	left: 41px;
}

body
{
	position: relative;
	min-width: 960px;
}

